@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Work+Sans:wght@200&display=swap');

*{
  text-decoration: none;
  scrollbar-width: none;
}

:root{
  --font-title: 'Crimson';
  --font-text: 'Work Sans';
  --banner-color: goldenrod;
  --font-size-mobile-text: 16px;
  --font-size-mobile-title: 30px;
  --font-size-desktop-text: 18px;
  --font-size-desktop-title: 40px;
}

.header{
  font-family: var(--font-text);
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5%;
  width: 100%;
}

.imgHeader{
  width: 5%;
  padding-right: 30px;
}

.bodyContainer{
  height: 90%;
}

.titreHome{
  color:chocolate;
  font-family: var(--font-title);
  font-size: var(--font-size-mobile-title);
  text-align: center;
  margin-top:5%;
  white-space: pre-wrap;
}

.iconeDesktop{
  display: none;
}

.iconeLine1, .iconeLine2{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:100px;
}

.icone{
  width:12%;
}

#buttonHome{
  display: block;
  margin:auto;
  border-radius:30px;
  margin-top:100px;
  background-color:chocolate;
  padding-top:10px;
  padding-bottom:10px;
  color:white;
  font-weight: bold;
}

.title{
  font-family: var(--font-title);
  font-size: var(--font-size-mobile-title);
  margin-bottom: 30px;
}

button{
  font-family: var(--font-text);
  padding: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.homeDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

.selection{
  width: 300px !important;
  height: 100px !important;
  margin-bottom: 30px;
  font-size: var(--font-size-mobile-text);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: green;
}

.imgLevel{
  width: 15%;
  padding-right: 15px;
}

.question{
  font-family:var(--font-title);
  font-size: var(--font-size-mobile-title);
  text-align: center;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.correct{
  font-family: var(--font-text);
  font-size: var(--font-size-mobile-text);
  font-weight: bold;
  color: green;
  width: 300px !important;
  height: 100px !important;
}

.incorrect{
  font-family: var(--font-text);
  font-size: var(--font-size-mobile-text);
  font-weight: bold;
  color: red;
  width: 300px !important;
  height: 100px !important;
}

.noanswer{
  font-family: var(--font-text);
  font-size: var(--font-size-mobile-text);
  font-weight: bold;
  color: #333;
  width: 300px !important;
  height: 100px !important;
}

.nextBtnDiv{
  display: flex;
  margin-top: 35px;
}

.next{
  padding: 10px;
  width: 25%;
  margin: auto;
  font-weight: bold;
  font-family: var(--font-text);
  font-size: var(--font-size-mobile-text);
}

.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.imgResult{
  width:300px;
  align-items: center;
}

p{
  text-align: center;
}

.footer{
  background-color: goldenrod;
  display:flex;
  flex-direction:row;
  height:5%;
  justify-content:center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  z-index: 1;
  text-align: center;
  color: #333;
}

.textFooter{
  font-size: 12px;
  font-family: 'Work sans';
}

@media screen and (min-width: 1024px) {
  .iconeDesktop{
    margin-bottom: 100px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:100px;
  }

  .icone{
    width: 10%;
  }

  .iconeMobile{
    display: none;
  }

  #buttonHome{
    margin-top:70px;
    padding-left:2px;
    padding-right:2px;
  }

  .selectionDiv{
    display: grid!important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    width: 50%;
    justify-content: center;
    margin: auto;
  }

  .selection{
    font-size: var(--font-size-desktop-text);
  }
  
  .imgLevel{
    width: 30%;
  }  

  .title, .question{
    width: 100%;
    text-align: center;
    font-size: var(--font-size-desktop-title);
    margin-left: 10px;
    margin-right: 10px;
  }

  .answers{
    display: grid!important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    width: 50%;
    justify-content: center;
    margin: auto;
    font-size: var(--font-size-desktop-text);
    text-align: center;
    align-items: center;
  }

  button{
    padding: 70px;
    width: 350px;
    font-size: 1.5em;
    margin-left: -7%;
    text-align: center !important;
  }

  .textFooter{
    font-size: 18px;
  }
    

.imgLevel{
  width: 15%;
  padding-right: 15px;
}

#butonHome{
  margin-top:100px;
  padding-left:5px;
  padding-right:5px;
}

}